<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="div1">
    <div class="total">
        <div class="title">
        <div class="viewer">Viewer</div>
        <div class="symbol">
            <div class="child"><image class="hel" src="https://www.freeiconspng.com/uploads/minimize-icon-23.png"></image></div>
            <div class="child"><image class="hel"src="https://cdn4.iconfinder.com/data/icons/vectory-symbols/40/square-512.png"></image></div>
            <div class="child"><image class="hel" src="https://th.bing.com/th/id/R.26775d34cce163c84c3c540adbe7871f?rik=EWBKfH5oRuGsGA&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_364596.png&ehk=GyQCjWE2ZelThzE0zOrilxmQZz5RQ6bpTBdh1gy4HlU%3d&risl=&pid=ImgRaw&r=0"></image></div>
        </div>
    </div>
    <div class="banner">
        <div class="search1">Category</div>
        <div class="search2"><select class="box">
            <option>General</option>
            <option>General1</option>
            <option>General2</option>
        </select></div>
        <div class="search3"><button>Show</button></div>
     </div>
     <div class="second">
     <div class="image"><image src="https://cdn4.iconfinder.com/data/icons/vectory-symbols/40/square-512.png"></image></div>
    <div class="dif">
        <div class="til"><h1>Title</h1></div>
        <image class= "hi"src="https://www.freeiconspng.com/uploads/minimize-icon-23.png"></image></div>
    </div>
    <div class="imparent">
    <div class="num"><image class="im2"src="https://cdn4.iconfinder.com/data/icons/vectory-symbols/40/square-512.png"></image></div>
    <div class="num"><image  class="im2"src="https://cdn4.iconfinder.com/data/icons/vectory-symbols/40/square-512.png"></image></div>
    <div class="num"><image class="im2" src="https://cdn4.iconfinder.com/data/icons/vectory-symbols/40/square-512.png"></image></div>
    <div class="num"><image   class="im2"src="https://cdn4.iconfinder.com/data/icons/vectory-symbols/40/square-512.png"></image></div>
    <div class="num1"><image   class="im2"src="https://cdn4.iconfinder.com/data/icons/vectory-symbols/40/square-512.png"></image></div>
</div>
</div>
    
    </div>  
</body>
</html>